    .cdivbox{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        margin: auto;
        background-color:rgba(154, 180, 93, 0.7);
        width: 1250px;
        height: 650px;
        
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 36px 36px 0px 0px;
}
table{
    
    width: 100%;
    height: 100%;
    text-align: center;
    
}

body {
    background-image: url('arkaplan.jpg');
    background-size: auto;
    background-repeat: repeat;
    
  }


.canvas{
    background-color:rgb(255, 255, 255,1);
    display: flex;
    width: 1150px;
    height: 600px;
    
}
.cdivbox2{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    
    margin: auto;
    background-color:rgba(154, 180, 93, 0.7);
    width: 1250px;
    height: 650px;
    
    
}
h1{
    background-color:rgba(50, 22, 207, 0.8);
    position: relative;
    right: -23%;
    width: 700px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    
    border-radius: 36px;
}
p{ 
    text-align: center;
    font-size: 25px;
    line-height: 35px;
}
footer {
    text-align: center;
    z-index: 12312;
    padding: 5px;
    width: 1240px;
    margin: auto;
    border-radius: 0px 0px 36px 36px ;
    background-color: DarkSalmon;
    color: white;
  }